html,body{
    overflow-x: hidden;
}
.logo{
    width: 100px;
    height: 70px;
}
#two{
    background-color: #f2f2f2;
    height: 350px;
}
 #four{
background-color: #f2f2f2;
height: 400px;
}
#three{
    
    height: 750px;
}
.freepik,.read{
    margin-top: 20px;
}
.i{
    margin-bottom: 40px;
    
}
.art h1{
    font-size: 100px;
    margin-top: 70px;
}
 .art span{
    font-size: 90px;
}
.designer{
    margin-top: 7rem;
}
.stan{
    padding-top: 130px;
}
.people{
    margin-top: 100px;
}
.inspire{
    margin-top: 100px;
    font-size: 6vw;
}
 

#six,#seven,.social{
    margin-top: 50px;
    margin-bottom: 40px;
}
.more, .viewmore{
   background-color: rgba(255,165,77,1);
   color: white;
   margin-top: 20px;
}
.profile{
    margin-top: 200px;
}
#eight{
    background: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/rock-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover ;
    
    
}
.form-details{
    margin-top: 60px;
    margin-bottom: 60px;
}
.services{
    margin-top: 60px;
    margin-bottom: 60px;
}
.about{
    margin-top: 60px;
    margin-bottom: 30px;
}
.man{
    width: 320px;
    height: 320px;
    margin-top: 70px;
    
}
.cont .txt{ 
    font-size: 3.1vw;
    
}
.cont{
    padding-top: 80px;
    padding-bottom: 50px;
}
.h1{
    font-weight: 600;
}
.media{
    height: 72px;
    width: 72px;
}
.sample{
    padding-top: 1rem;
    font-size: 3.6vw;
}
.web{
    padding-top: 1rem;
    font-size: 3.0vw;
    padding-bottom: 1rem;
}
#nine{
    background-color: #1f203a;

}


#ten{
    background-color: rgba(0,0,0,0.6);
    
}

.profile-text{
    margin-top: 60px;
    }
   
    .design img{
        width: 100%;
        height: 400px;
    }
    .stand img {
        width: 100%;
        height: 400px;
        
    }
    .article{
        margin-top: 90px;
    }
    .dolor{
        line-height: 5vw;
        font-size: 2.79vw;
    }
    


@media(max-width:425px){
    
    #four{
        height: 800px;
    }
    .media{
        height: 36px;
        width: 36px;
    }
    .sample{
        padding-top: 2.5rem;
    }
    .web{
        padding-top: 2.5rem;
        
    }
}